DJANGO_SECRET_KEY=random
DJANGO_DEBUG=1

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=codeforge
POSTGRES_USER=codeforge
POSTGRES_PASSWORD=codeforge

REDIS_HOST=redis
REDIS_PORT=6379

KAFKA_BOOTSTRAP=kafka:9092
KAFKA_TOPIC=submissions.created

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:3000